<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Empleados</title>
</head>
    <body>
        <div class="container">
        <h1>Empleados por Departamento</h1>
            <table class="table">
                <thead>
                <th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Sueldo</th>
                <th></th>
                </th>
                </thead>
                <tbody>
                <tr th:each="employee : ${listaEmpleadosXDep}">
                    <td th:text="${employee.getEmployee_id()}"></td>
                    <td th:text="${employee.getFirst_name()}"></td>
                    <td th:text="${employee.getLast_name()}"></td>
                    <td th:text="${employee.getJob_title()}"></td>
                    <td th:text="${employee.getSalario()}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/employee/edit?id='+${employee.getEmployee_id()}}">Editar</a></td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>