<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>
<div class="container">
    <h1>Empleados con Mayor Salario en la Empresa</h1>
    <!-- COMPLETAR -->

    <form class="row" method="post" th:action="@{/Search/busqueda}">
        <div class="container-md">
            <div class="input-group mb-2">
                <input name="searchField" class="input-search-bar" placeholder="Salario a buscar...">
                <button class="btn btn-outline-info" type="submit">Search</button>
                <a class="btn btn-outline-danger" th:href="@{'/Search/Salario'}">Limpiar</a>
                <a class="btn btn-outline-secondary" th:href="@{'/Search'}">Regresar</a>

            </div>
        </div>
    </form>

    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>

    <table class="table">
        <thead>
        <!-- COMPLETAR -->
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Puesto</th>
        </thead>
        <tbody>
        <!-- COMPLETAR -->
            <tr th:each="employee : ${employeesList}">
                <td th:text="${employee.getLast_name()}"></td>
                <td th:text="${employee.getFirst_name()}"></td>
                <td th:text="${employee.getStart_date()}"></td>
                <td th:text="${employee.getEnd_date()}"></td>
                <td th:text="${employee.getJob_title()}"></td>
        </tbody>
    </table>
</div>
</body>
</html>