<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h2 th:text="${employees.employeeid == 0? 'Nuevo Employee' : 'Editar Employeee'}">Nuevo/Editar Employee</h2>
<hr/>

<form method="post" th:action="@{/employee/save}" th:object="${employees}">
    <input th:if="*{employeeid != 0 }" type="hidden" th:field="*{employeeid}" />
    <input th:if="*{employeeid != 0 }" type="hidden" th:field="*{hiredate}" />
    <div class="form-row">
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label  class="small mb-1">Nombre</label>
                <input class="form-control" th:field="*{firstname}">
                <div class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label  class="small mb-1">Apellido</label>
                <input class="form-control" th:field="*{lastname}">
                <div class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Correo Electrónico</label>
                <input class="form-control" th:field="*{email}">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label  class="small mb-1">Contraseña</label>
                <!-- error con la clase type="password" el atributo no funciona con el th:field no funciona el model attributo-->
                <input  th:if="*{employeeid != 0}" class="form-control"
                        th:field="*{pwd}"
                        type="password" >
                <input  th:if="*{employeeid == 0}" class="form-control" th:field="*{pwd}">
                <div class="text-danger" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">Error</div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="mb-3">
                <label class="form-label">Cargo</label>
                <select class="form-control" th:field="*{jobs.jobid}">
                    <option th:each="cargo : ${listaJobs}" th:value="${cargo.jobid}"
                            th:text="${cargo.jobtitle}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="mb-3">
                <label class="form-label">Jefe</label>
                <select class="form-control" th:field="*{manager.employeeid}">
                    <option th:each="jefe : ${listaJefes}" th:value="${jefe.employeeid}"
                            th:text="${jefe.firstname}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="mb-3">
                <label class="form-label">Departamento</label>
                <select class="form-control" th:field="*{departments.id}">
                    <option th:each="dpto : ${listaDepartments}" th:value="${dpto.id}"
                            th:text="${dpto.departmentname}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label  class="small mb-1">Sueldo</label>
                <input class="form-control" th:field="*{salary}">
                <div class="text-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Error</div>
                <div class="text-danger" th:if="${msgSal != null}" th:text="${msgSal}">Error</div>
            </div>
        </div>
        <div class="form-group mt-4">
            <a th:href="@{/employee/list}" class="btn btn-danger">Cancelar</a>
            <button th:text="${employees.getEmployeeid() == 0 ? 'Registrar' : 'Editar'}" type="submit" class="btn btn-primary"></button>
        </div>
    </div>
</form>
<br>

</body>
</html>